<div class="auth-container">
    <mat-card>
      <h2>Register</h2>
      <form (ngSubmit)="register()" #registerForm="ngForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="username" required />
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="email" type="email" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Phone No</mat-label>
          <input matInput type="tel" required />
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="password" type="password" required />
        </mat-form-field>
  
        <button mat-raised-button color="primary" class="full-width">Register</button>
      </form>
      <p class="bottom-text">
        Already have an account?
        <a routerLink="/login">Login here</a>
      </p>
    </mat-card>
  </div>
  