<mat-sidenav-container class="dashboard-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-toolbar color="primary">EMS Dashboard</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/events">
        <mat-icon>event</mat-icon>
        <span>Events</span>
      </a>
      <a mat-list-item routerLink="/dashboard/bookings">
        <mat-icon>book_online</mat-icon>
        <span>Bookings</span>
      </a>
      <a mat-list-item routerLink="/dashboard/users">
        <mat-icon>group</mat-icon>
        <span>Users</span>
      </a>
      <a mat-list-item routerLink="/dashboard/notifications">
        <mat-icon>notifications</mat-icon>
        <span>Notifications</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="top-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()" class="hide-on-desktop">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">Welcome to Event Management System</span>
    </mat-toolbar>

    <div class="dashboard-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
