.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url(../../../../public/landing-vector.jpg);
    background-size: contain; */
    background: linear-gradient(to left, #724479, #cd91d8);
  }
  mat-card h2{
    align-items: center;
  }
  mat-card {
    width: 350px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  }
  
  .full-width {
    width: 100%;
  }
  
  .bottom-text {
    margin-top: 16px;
    text-align: center;
  }
  